<div class="row">
  <div class="small-9 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "active_curriculums" %>
    <br />
<%= link_to 'Add a New Curriculum', new_curriculum_path, id: 'addbutton', class: "button radius small"%>
  </div>


<% content_for :sidebar do %>
    <%= render partial: 'inactive_curriculums' %>
<% end %>

</div>