<div class="row">
  <div class="small-5 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "student_details" %>
  </div>

  <div class="small-6 columns">
    <%= render partial: 'student_camps' %>
  </div>

<% content_for :sidebar do %>



<% end %>


</div>