<div class="row">
  <div class="small-5 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
  </div>



  <div class="small-7 columns">
      <%= image_tag @location.create_map_link %>
  </div>

  <% content_for :sidebar do %>
  
    <%= render partial: 'camp_registrations' %>
<% end %>
</div>