<h3>Families</h3>

<div class="row">
  <div class="small-10 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "active_families" %>
    <br />
    <%= link_to "Add a new family", new_family_path, class: "button tiny radius" %>
  </div>


<% content_for :sidebar do %>
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'inactive_families' %>
  <% end %>
</div>