<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "family_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
  </div>

<% content_for :sidebar do %>

<% end %>


</div>

UPDATE ONCE CUCUMBER TESTS ARE ADDED