<br /><br /><br />
<h3> <small> Inactive <i class="fa fa-times"></i></small></h3><br />

<table class="table">
  <% if not @inactive_instructors.empty? %> 
    <% @inactive_instructors.each do |instructor| %>
    <tr> 
      <td><%= link_to instructor.name, instructor_path(instructor) %></td>
    </tr>
    <% end %>
  <% else %>
    <tr>
      <td> No inactive instructors </td>
    </tr>
  <% end %>
</table>