<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "instructor_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>
<% if can? :update, Instructor %>
  <div class="small-4 columns">
    <%= render partial: 'instructor_camps' %>
  </div>
<% end %>
<% content_for :sidebar do %>

  <% unless @instructor.picture.nil? %>
    <p><%= image_tag @instructor.picture %></p>
  <% end %>

<% end %>


</div>