<h3 id="main_content">About Us</h3>

<p>	<strong>
	"Chess, like love, like music, has the power to make us happy."	<br/> </strong> - Dr. Siegbert Tarrasch (Grand Master)
	
</p>
<p>
Here at A&M chess camp, we take this philosophy seriously. We know 
	how much you love your kids and would like to teach them the wonders of chess. And although we live in the 'Steel City' 
	and the people here are tough, we also know your kids 
	aren't always as rugged in the competitive chess arena. That's why
	the teachers at AM Chess camp are committed 
	to giving you and your kid only the best instruction at 
	the most affordable prices.  Come visit our offices 
	at 5000 Forbes Avenue (Porter 224A) and see how we
	can help your kid on the road to chess championship.
</p>

<% content_for :sidebar do %>
<br /><br />
<%= image_tag 'about_chess.jpg' %>
<% end %>