<h3 id="main_content">About Us</h3>

<p>	
	We know how important your kids are to you.  We know 
	how much you love them and how they are a part of 
	your family.  And although we live in the 'Steel City' 
	and the people here are tough, we also know your kids 
	aren't always as rugged in the competitive chess arena. That's why
	the teachers at AM Chess camp are committed 
	to giving you and your kid only the best instruction at 
	the most affordable prices.  Come visit our offices 
	at 5000 Forbes Avenue (Porter 224A) and see how we
	can help your kid on the road to chess championship.
</p>

<% content_for :sidebar do %>
<br /><br />
<%= image_tag 'about_chess.jpg' %>
<% end %>