<h3 id="main_content">Contact Us</h3>

<p> Here's the contact info:</p>

<table cellpadding="3">
  <tr>
    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
    <td>Aditi Sarkar</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>
    <%= mail_to("aditi@cmu.edu", "aditi@cmu.edu", encode: "javascript") %> 
    </td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>123-456-7890</td>
  </tr>
</table>

<% content_for :sidebar do %>
<br /><br />
<%= image_tag 'contact_chess.jpg' %>
<% end %>
