<h1>Welcome chess players!</h1>

<p> Founded by the Heimann brothers, The A&M Chess Camp is a group of chess instructors dedicated to providing you and your children with the finest instruction in the Pittsburgh area. The links above will tell you more about the curriculums we offer and the camps you can register your child for. Feel free to <%= link_to 'contact us', contact_path %> with any questions or feedback about the chess camp or our website.</p>


<% if can? :update, Instructor %>
 <%= render :partial => "instructor_dashboard" %>
<% end %>

<% content_for :sidebar do %>
<br /><br />
<%= image_tag 'home_chess.jpg' %>
<% end %>


