<h3 id="main_content">The Chess Camp Privacy Policy</h3>

<p>We will store our student's information on chess related things and we don't promise not to circulate it. We also have your phone number and address. Don't think we won't sell it.
</p>
<% content_for :sidebar do %>
<br /><br />
<%= image_tag 'privacy_chess.jpg' %>
<% end %>