<h3> General Report </h3>
A general "state of the affairs" report. Includes information on camps starting in the next month, their instructors, and enrollment. 
<br /><br />

<% if @camps.size > 0 %>
<table class='printable'>
	<tr>
		<th> Camp </th>
		<th> Start Date </th>
		<th> Enrolled</th>
		<th> Enroll Cap</th>

	</tr>


	<% @camps.each do |c| %>
	<tr>
		<td> <%=c.name %></td> 
		<td> <%=c.start_date %></td>
		<td> <%=c.registration.size %></td>
		<td> <%=c.max_students %></td>

	</tr>
	<% end %>
</table> 
<% else %>	
...No camps coming up in the next month. Time for a vacation B-)
<% end %>