<h3> General Report </h3>
<br /><br />
<h5> List of unpaid registrations </h5>  
<br /><br />
<table>
	<tr>
		<th> Parent </th>
		<th> Student </th> 
		<th> Camp </th>
		<th> Start Date </th>
	</tr>

	<% @unpaid_registrations.each do |r| %>
	<tr>
		<td> r.student.family.parent_first_name r.student.family.family_name </td>
		<td> r.student.name </td>
		<td> r.camp.name </td> 
		<td> r.camp.start_date </td>
	</tr>
	<% end %>
</table> 

