/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jquery.ui.datepicker
 *= require_tree .
 *= require _font-awesome
 */

.table {
	border-left: none;
    border-right: none;
    border-collapse: collapse;
}

.table th {
	background: #7d0000;
	color: white;
	font-weight: normal;
}

.table td {
	background: #f3e5e5;
	color: #290000;
	padding: 8px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid transparent;
}

.table tr:hover td {
	background: #e7cccc;
	color: #290000;
}

table.printable {
	border-width: 1px
}

.alert-panel {
  padding: 1em;
  background-color: #ff9999
}

.report-panel {
  padding: 1em;
  background-color: #98fb98 
}

.alert-table {
	text-align: center
}

.alert-table tr:nth-child(even) {
  background: #ffe5e5 
}

.alert-table tr:nth-child(odd) {
  background: #ffe5e5 
}

table.printable th {
	text-align: left
}

