<div class="row">
  <div class="small-5 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "location_details" %>
  </div>



  <div class="small-7 columns">
 <h3> <small> Map: </small></h3><br />

  	<%= image_tag @location.create_map_link %>
  </div>

  <% content_for :sidebar do %>
    <%= render partial: 'location_camps' %>
<% end %>
</div>


