<!DOCTYPE html>
<html lang="en">
  <head>
     <title><%= content_for?(:title) ? yield(:title) : "A&M Chess Camps" %></title>
  </head>

  <body>
    <%= render :partial => "printables/header" %>
    

  </body>


</html>